body {background-color: grey;}
h1 {font-family: Arial, Helvetica, sans-serif;
    font-weight:400;
font-size: 60px;
line-height: 1.6em;
color: blue;
padding: none}
h2 {font-family: Arial, Helvetica, sans-serif;
color: blue; 
text-decoration: underline;}

h3 {font-family: Arial, Helvetica, sans-serif;
    color: lightgrey ;
font-style: italic; 
font-size: medium;
font-weight: 100;}
div {display: block;
    block-size: auto;
text-indent: 12px;}
.container {position: relative; text-align: left}
.topleft {position: absolute; 
    top: 8px;
    left: 16px;}

img { display: block;
max-width: 100%;
    height:auto;
    opacity: .5;}
p { font-family:Arial, Helvetica, sans-serif ; 
    font-size: 18px;
    width: 650px; 
    color: whitesmoke;}

